.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;

    white-space: pre-line;

    position: absolute;    
    z-index: 2;
    
    /* Position tooltiptext to the right */
    top: -5px;
    left: 105%; 
    
}

.tooltip:hover span {
    text-decoration: underline;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
