body {
    background-color: aliceblue;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 3px;
}

td > input, td > button {
    margin: 3px;
}

section > button {
    margin-top: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 1.2rem;
    margin: 0; /* Removes default margins */
    margin-bottom: 0.5rem;
}

#generate-button {
    width: 17ch; /* "regenerating..."is 15 characters */
}