body {
    background-color: aliceblue;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 3px;
}

th {
    padding: 7px;
}

td > input, td > button {
    margin: 3px;
}

td > input[type=checkbox] {
    width: 100%; /* Make checkbox easy to click */
}

td > input[type=checkbox]:hover {
    outline: 2px solid red; /* Easy to see if checkbox is clickable */
}

#ridechecks-section td {
    font-size: 14px;
    padding: 7px;
}


/* Make the workers table have horizontal scroll */

#workers-section {
    overflow: scroll;
}

#workers-section table th:first-child, 
#workers-section table td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
    outline: 1px solid blue;
}

#workers-section table th:nth-child(2), 
#workers-section table td:nth-child(2) {
    position: sticky;
    left: 35px;
    z-index: 1;
    background-color: white;
    outline: 1px solid blue;
}

/*************************************************/


section > button {
    margin-top: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 1.2rem;
    margin: 0; /* Removes default margins */
    margin-bottom: 0.5rem;
}

#generate-button {
    width: 17ch; /* "regenerating..."is 15 characters */
}